<h2>投稿数の前日比・前週比</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @today_book.count %></td>
            <td><%= @yesterday_book.count %></td>
            <td>
              <% if @yesterday_book.count == 0 %>
                前日の投稿はありません
              <% else %>
                <% the_day_before_percentage = (@today_book.count.to_f / @yesterday_book.count.to_f * 100).round %>
                <%= the_day_before_percentage %>%
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>前週の投稿数</th>
            <th>前週比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @this_week_book.count %></td>
            <td><%= @last_week_book.count %></td>
            <td>
              <% if @last_week_book.count == 0 %>
                前週の投稿はありません
              <% else %>
                <% the_week_before_percentage = (@this_week_book.count.to_f / @last_week_book.count.to_f * 100).round %>
                <%= the_week_before_percentage %>%</td>
              <% end %>
          </tr>
        </tbody>
      </table>